.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.botao {
  padding: 16px 32px;
  display: inline-block;
  /* background: linear-gradient(#ffbf00, #f2a50c); */
  background-color: var(--cor-p1);
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: var(--cor-10);
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  max-width: max-content;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border: none;
  cursor: pointer;
}

.botao:hover {
  background-color: var(--cor-p0);
  color: var(--cor-12);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  /* background: linear-gradient(#ffb60d, #e59317); */
}

.botao.secundario {
  background: var(--cor-10);
  color: var(--cor-2);
  transition: background-color 0.4s ease-in-out;
}

.botao.seta {
  display: flex;
  align-items: center;
}

.botao.seta::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 12px;
  background: url("../../image/icones/seta.svg");
  transition: transform 0.6s ease-in-out;
}

.botao.seta:hover::after {
  transform: translateX(10px);
  transition: transform 0.6s ease-in-out;
}

.botao.secundario:hover {
  background: var(--cor-9);
  transition: background-color 0.4s ease-in-out;
}

@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
    font-size: 1rem;
  }
}

.link {
  display: inline-block;
  color: var(--cor-p1);
  font: 500 1.5rem/1.5 "Poppins", sans-serif;
  text-transform: uppercase;
  position: relative;
}

.link::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 4px;
  background-color: currentColor;
}

.link:hover::after {
  width: 100%;
  transition: 0.5s ease-in-out;
  color: currentColor;
}

/* Titulo internos */
.titulo-bg {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--cor-11);
}

.titulo p {
  margin-bottom: 4px;
}

@media (max-width: 800px) {
  .titulo-bg {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .titulo p {
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: 400;
  }
}
