.introducao-bg {
  background: var(--cor-12) url("../../image/dec/bottom-left.svg") no-repeat
    bottom 160px left 20px;
  box-shadow: inset 0 -120px var(--cor-0);
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 200px;
}

.introducao img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.introducao h1 {
  margin-bottom: 32px;
}

.introducao p {
  margin-bottom: 20px;
}

.texto-bolha {
  font-size: clamp(2rem, calc(1rem + 0.3vw), 8rem);
  color: hsl(0, 0%, 50%);
  user-select: none;

  &.split-text {
    display: inline-flex;
  }

  &.split-char {
    font-weight: 200;
    transition: font-weight 0.5s ease;

    &:hover {
      font-weight: var(--fw-900);
      color: var(--color-900);
    }

    /* Lado Direito -> */
    &:hover + .split-char {
      font-weight: var(--fw-700);
      color: var(--color-700);
    }
    &:hover + .split-char + .split-char {
      font-weight: var(--fw-450);
      color: var(--color-450);
    }

    /* <- Lado Esquerdo */
    &:has(+ .split-char:hover) {
      font-weight: var(--fw-700);
      color: var(--color-700);
    }
    &:has(+ .split-char + .split-char:hover) {
      font-weight: var(--fw-450);
      color: var(--color-450);
    }
  }
}

@media (max-width: 800px) {
  .introducao-bg {
    background: var(--cor-11);
    padding-top: 40px;
    box-shadow: inset 0 -60px var(--cor-0);
  }

  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .introducao-conteudo {
    padding-bottom: 0px;
  }

  .introducao h1 {
    margin-bottom: 16px;
  }

  .introducao img {
    height: 300px;
    width: 100%;
  }
}
